@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body{
    margin: 0px;
    font-family: 'Open+Sans', sans-serif;
}

/*header*/
header{
    width: auto;
    height: 500px;
    background-color: darkred
}

header img{
    
}

/*about*/
.about{
    background-color: white;
    width: auto;
    height: 420px;
    text-align: center;
}

.abouttext{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.abouttext p:last-of-type{
    padding-bottom: 20px;
}
.abouttext a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 7px;
}

.abouttext a:hover{
    color: darkred;
}

/*services*/
.services{
   width: auto;
    height: 700px;
    background-color: darkgrey;   
}
.services h1{
    color: white;
    text-align: center;
    font-size: 4em;
    padding-top: 50px;
}
.row1{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.times{
    color: white;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.times2{
    color: white;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.services h2{
    font-size: 1.563em;
}

.services p{
    font-weight: 400px;
    font-size: 1.25em;
    padding-bottom: 20px;
}
/*contact*/
.contact{
    width: auto;
    height: 800px;
    background-color: white;
}

.contact h1{
    text-align: center;
    font-size: 4em;
}

.contact h2{
     font-size: 1.563em;
    text-align: center;
    margin-bottom: 0px;
}

.contact p{
    font-weight: 400px;
    font-size: 1.125em;
    text-align: center;
    margin: 0px;
}

.contact p:last-of-type{
    margin-top: 40px;
}

#map{
    width: 960px;
    height: 430px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


/*footer*/
footer{
    
}

/*Small devices*/
@media(min-width:500px){
   .about{
        height: 350px;
    }
    .abouttext{
        width: 500px;
    }
    
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    .services{
        height: 550px;
    }
    .row1{
        width: 600px;
    }
    .times{
        float: left;
    }
    .times2{
        float:left;
        margin-top: 30px;
    }
    
}
/* large devices(desktops, 992px and up) */
@media (min-width: 992px){
    .about{
        height: 300px;
    }
    .abouttext{
        width: 600px;
    }
    
    .services{
        height: 550px;
    }
    .row1{
        width: 700px;
    }
    .times:nth-of-type(1){
        margin-right: 100px;
    }
    .times2{
        margin-right:100px; 
    }
}
/*extra large devices (large desktop, 1200px and up) */
@media (min-width:1200px){
                
}